<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {class:"form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true,  class: 'form-control', placeholder: "email" %></div>

  <div class="form-group"><%= f.label :password %><br />
  <%= f.password_field :password,  class: 'form-control', placeholder: "password"%></div>

  <div class="form-group"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation,  class: 'form-control', placeholder: "confirm password" %></div>

  <div class="form-group"><%= f.label :firstName %><br />
  <%= f.text_field :firstName,  class: 'form-control', placeholder: "first name" %></div>

  <div class="form-group"><%= f.label :lastName %><br />
  <%= f.text_field :lastName ,  class: 'form-control', placeholder: "last name"%></div>

  <div class="form-group"><%= f.label :sex %><br />
  <%= radio_button_tag(:sex, "mail",class: 'form-control' ) %>
  <%= label_tag(:sex, "Male") %>
  <%= radio_button_tag(:sex, "female", class: 'form-control') %>
  <%= label_tag(:sex, "Female") %>

  <div class="form-group"><%= f.label :home %><br />
  <%= f.text_field :home,  class: 'form-control', placeholder: "home town" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
